#searchbar-ext {
  margin-right: -280px;
  padding: 0;
  width: 300px;

  border: solid 2px black;

  position: fixed;
  top: 120px;
  right: 0;

  overflow: hidden;

  transition: all 0.5s ease 0s;

  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

#searchbar-ext.active {
  margin-right: -10px;
}

#searchbar-ext>.slider {
  background-color: black;
  color: white;

  text-align: center;

  padding: 8px;
  height: 104px;

  border-right: solid 2px black;

  cursor: pointer;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  min-height: auto;

  transition: all 1.0s ease 0s;
}

#searchbar-ext>.slider:hover {
  color: black;
  background-color: white;
}

#searchbar-ext>.slider>span:after {
  content: "◀";
  margin-top: 8px;
  font-size: 20px;
}

#searchbar-ext.active>.slider>span:after {
  content: "▶";
}

#searchbar-ext>.contents {
  height: 88px;
  width: 240px;

  padding: 16px;
  padding-left: 20px;

  background-color: white;
}

#searchbar-ext>.contents>div {
  padding-top: 8px;
}

#searchbar-ext > div {
  float: left;
}
